body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
  }
  
.nav{
   display: flex;
    text-align: center;
    justify-content: center;
   
#Group{
    color: #808080;
}

#Dashboard{
    
    text-align: center;
    width: 40px;
    border: 10px;
    border-radius: 3px;
    background-color: #ffa31a;
}
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .person {
    text-align: center;
  }

  .person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #ffa31a;
    box-shadow: 0 0 10px rgba(12, 10, 10, 0.1);
  }

  .person h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
  }

  /* Toggle Switch */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #ffa31a;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
